/* Universal */
*{
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url(/assets/cloudyskygif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Navbar */

nav {
    background-color: #212A79;
    border-bottom: 1px solid #CAE8FF;
}


.searchShape {
    border-radius: 30px !important;
    height: 25px;
}

.fixMarg{
    margin: 0px 25px !important;
}

/* Weather App Body */

.favTab{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 75px;
    height: 55px;
    background-color: #CAE8FF;
    border: 0px;
    display: block;
    margin-left: auto;
    /* margin-right: 115px; */
}

.containBox{
    padding: 70px 0px 0px 0px !important;
    font-weight: 500;
}


.currentBox {
    background-color: #CAE8FF;
    border-radius: 10px;
    opacity: 80%;
    height: 450px;
}

.padMe {
    padding-top: 25px;
    padding-left: 20px;
}



.sunriseCol, .sunsetCol {
    text-align: center;
}

.setText{
    padding-top: 10px;
}

.weatherIcon img{
    width: 200px !important;
    height: 200px !important;
}

.weatherIcon{
    padding-top: 30px;
}

.margMe{
    margin-top: 25px;
}

.highLowtxt{
    font-size: 20px;
}

.currentInfoBox {
    background-color: #CAE8FF;
    border-radius: 10px;
    opacity: 80%;
}

.morePad{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.rowSpace{
    padding-bottom: 50px
}

.infoText{
    padding-left: 70px;
}

.latTxt{
    text-align: right;
}

.stat{
    margin-left: 20px;
}

.downLine{
    padding-top: 30px;
    padding-left: 20px;
}


.mapBox{
    width: 500px;
    height: 250px;
    border: 2.5px solid #212A79;
    border-radius: 10px;
    margin-top: 25px;
}

/* Cards */

.card{
    background-color: #CAE8FF;
    height: 200px;
    opacity: 80%;
    margin: 0 auto;
}

.card-text, .card-title {
    color: #212A79;
}

.card-text{
    padding-top: 30px;
}

.cardRow{
    padding-top: 20px;
}

.cardRow i{
    padding-top: 30px;
}